footer{
    background-color: black;
    color: aliceblue;
    
}
nav{
    background-color: lightblue;
}
.bm{
    background-color: goldenrod;
}
.tor{
    background-color: crimson;
}
.uz{
    background-color: lightseagreen;
}